.container{
  text-align:center;
  width:80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.section1, .section2{
  flex: 1 40%;
  margin: 0 5% 0 5%;

}

.section1 p{
  background-color: red;
  width: 100%;
}
.section2 p{
  background-color: blue;
  width: 100%;
}
